<div class="card-container">
    <div class="card text-center" style="width: 18rem;">
        <img src="../../../assets/QuienSoy.jpg" class="card-img-top" alt="Claudia Jara">
        <div class="card-body">
          <h5 class="card-title">¿Quien Soy?</h5>
          <p class="card-text">Soy Claudia Jara, estudiante de  la carrera Tecnico en Programacion en la UTN.</p>
          <div>
            <a href="https://github.com/Claudia1991" target="_blank" class="btn btn-primary">Mi GitHub</a>
          </div>
          <br>
          <div>
            <a (click)="volver()" class="btn btn-primary">Volver</a>
          </div>
        </div>
    </div>
</div>